{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'usuarios/registro.css' %}">
{% endblock%}

{% block content %}
<div class="containerRegistro">
        <h2>Registro</h2>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
            </p>
          {% endfor %}
          <button class="btn btn-success"" type="submit">Registrarse</button>
      </form>
</div>
{% endblock %}