{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'usuarios/login.css' %}">
</head>
    <body>
        <div class="container">
            <div class="loginBox">
                <form class="logeo">       
                    <h2 class="form-signin-heading">Login</h2>
                    <input type="text" class="form-control" name="usuario" placeholder="Ingrese su Email" required="" autofocus="" />
                    <input type="password" class="form-control" name="contraseña" placeholder="Password" required=""/>      
                    <button class="btn btn-info btn-lg btn-login" type="submit">Login</button>   
                </form>
            </div>
        </div>
    </body>
</html>  