{% extends 'usuarios/base.html' %}
{% load static %}

    {% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'usuarios/login.css' %}">
    {% endblock %}
    {% block content %}
    <div class="loginBox">
        <div class="logeo"> 
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-success" type="submit">Login</button>
            </form>
            <a href="{% url 'password_reset' %}">Olvido su contraseña?</a>
            <a href="{% url "social:begin" "github" %}">GitHub Login+</a>
                
        </div>
    </div>
    {% endblock %}
