{% extends 'usuarios/base.html' %}
{% load static %}

    {% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'usuarios/login.css' %}">
    {% endblock %}
    {% block content %}
            <div class="loginBox">
               <form class="logeo">
                    <h1>Login</h1>       
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button class="btn btn-info btn-lg btn-login" type="submit">Login</button>   
                </form>
            </div>
    {% endblock %}
